@use '../../variables.scss' as *;

.#{$prefix-cls}-designer-tools {
  display: flex;
  align-items: center;

  &-input-number {
    font-size: 12px !important;
    background: var(--dn-toolbar-input-bg-color) !important;
    border-color: var(--dn-toolbar-input-border-color) !important;
    color: var(--dn-toolbar-input-color) !important;

    &:hover {
      border-color: var(--dn-toolbar-input-hover-border-color) !important;
    }
  }

  &-input-number-actions {
    background: var(--dn-toolbar-input-handler-bg-color) !important;
    border-color: var(--dn-toolbar-input-border-color) !important;
    color: var(--dn-toolbar-input-color) !important;
  }
}
